################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/
**/obj/
**/bin/
**/packages/
**/.hg*
**/.hg
**/Keys/
**/deploy/
**/.config/
**/Properties/
/src/FillInTheTextBot.Api/FillInTheTextBot.Api.csproj.user
/src/FillInTheTextBot.Api/fillinthetextbot-vyyaxp-c062f43624f6.json
