<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info" throwExceptions="true">

  <!-- В NLog 6 автоматическая регистрация расширений убрана, без этого блока
       рендереры ${aspnet-request-url} и ${aspnet-mvc-controller} не резолвятся -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <include file="${environment:variable=APPLICATION_LOG_NLOG_INCLUDE_FILE_PATH}" ignoreErrors="true" />

  <targets async="true">
    <target xsi:type="Console" name="console">
      <layout xsi:type="JsonLayout" includeEventProperties="true">
        <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
        <attribute name="level" layout="${level:lowercase=true}" />
        <attribute name="logger" layout="${logger:shortName=true}" />
        <attribute name="controller" layout="${aspnet-mvc-controller}" />
        <attribute name="url" layout="${aspnet-request-url}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=ToString}" />
      </layout>
    </target>

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="Microsoft.AspNetCore.HttpLogging.HttpLoggingMiddleware" minlevel="Trace" writeTo="console" final="true" />
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console" final="true" />
    <logger name="Microsoft.*" minlevel="Warn" writeTo="console" final="true" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
